body {
  background-color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.track-package,
.grey-button {
  font-family: Arial;
  font-size: 13px bold;
  margin: 3px;
  padding: 10px;
  width: 12%;
  border-radius: 5px;
}

.track-package {
  background-color: #f0c14b;
  border-color: #846a29;
  margin-bottom: 15px;
  border-radius: 3px;
}

.grey-button {
  background-color: #e7e9ec;
  border-color: #a2a6ac;
}
